@model  courses__projectMVC.Models.Course
@{
    ViewBag.Title = "addcourse";
}


<div class="addcourses">
    <div class=" addform">
        <h1>Add Course...</h1>
        <form action="/Home/addcourse" method="post">
            <div class="form-group row">

                <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder=" Course Name" name="CourseName">
                    @Html.ValidationMessageFor(ww => ww.CourseName, "", htmlAttributes: new { @class = "text-danger errmsg" })
                </div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="Course Description" name="Coursedescription">
                    @Html.ValidationMessageFor(ww => ww.Coursedescription, "", htmlAttributes: new { @class = "text-danger errmsg" })
                </div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="what course learn 1?" name="WhatCourseLearn1">
                    @Html.ValidationMessageFor(ww => ww.WhatCourseLearn1, "", htmlAttributes: new { @class = "text-danger errmsg" })
                </div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="what course learn 2?" name="WhatCourseLearn2">
                    @Html.ValidationMessageFor(ww => ww.WhatCourseLearn2, "", htmlAttributes: new { @class = "text-danger errmsg" })
                </div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="what course learn 3?" name="WhatCourseLearn3,">
                    @Html.ValidationMessageFor(ww => ww.WhatCourseLearn3, "", htmlAttributes: new { @class = "text-danger errmsg" })
                </div>

                <div class="col-sm-10">
                    <div class="col-sm-6" style="display: inline-block;">
                        <input type="number" class="form-control" placeholder="Prise " name="Price">
                        @Html.ValidationMessageFor(ww => ww.Price , "", htmlAttributes: new { @class = "text-danger errmsg" })
                    </div>
                    <div class="col-sm-5" style="display: inline-block;">
                        <input type="number" class="form-control" placeholder="Number of hours"   name="NofHoures">
                        @Html.ValidationMessageFor(ww => ww.NofHoures, "", htmlAttributes: new { @class = "text-danger errmsg" })
                    </div>
                </div>
                <div class="col-sm-10">
                    <input type="number" class="form-control" placeholder="Number of articles" name="NofArticles"> 
                    @Html.ValidationMessageFor(ww => ww.NofArticles, "", htmlAttributes: new { @class = "text-danger errmsg" })
                </div>
                <div class=" col-sm-10 custom-file mb-3">
                    <input type="file" class="custom-file-input" id="validatedCustomFile" required name="image"> 

                    <label class="custom-file-label" for="validatedCustomFile">Choose image ...</label>
                    @Html.ValidationMessageFor(ww => ww.image, "", htmlAttributes: new { @class = "text-danger errmsg" })
                    <div class="invalid-feedback">Example invalid custom file feedback</div>
                </div>
                <p>
                   <button class="btn btn-warning" type="submit">Add Course</button>
                </p>
        </form>
    </div>

</div>


