@model courses__projectMVC.Models.User
@{
    ViewBag.Title = "signup";
}



    <div>
        <div style="width: 80%; height:700px; margin: 10%;   border: 1px solid white;

  box-shadow: 1px 2px 2px 2px #888888;">
            <div style="width: 40%;background-image: url(../../image/ba6.jpg); background-repeat: no-repeat; display: inline-block; height:698px;">
                <h1 style="color: black; margin-top: 30%; margin-left: 15%;"> Login & Sign Up</h1>

            </div>
            <div style="width: 60%; background-color:white; display: inline-block;  float: right; height: 100%;">


                <h1 style="text-align: center; margin-top: 5%; ">Sign Up</h1>

                @using (Html.BeginForm(actionName: "signup", controllerName: "Home", method: FormMethod.Post))
                {
                    <div style="margin: 10%; margin-left: 25%;">
                        <div class="form-group row">
                            <div class="col-sm-10" style="padding-bottom: 15px;">
                                @Html.EditorFor(ww => ww.FirstName, additionalViewData: new { htmlAttributes = new { @class = "form-control", PlaceHolder = "First Name" } })
                                @Html.ValidationMessageFor(ww => ww.FirstName, "", htmlAttributes: new { @class = "text-warning errmsg" })

                            </div>
                            <div class="col-sm-10" style="padding-bottom: 15px;">
                                @Html.EditorFor(ww => ww.LastName, additionalViewData: new { htmlAttributes = new { @class = "form-control", PlaceHolder = "Last Name" } })
                                @Html.ValidationMessageFor(ww => ww.LastName, "", htmlAttributes: new { @class = "text-warning errmsg" })
                            </div>
                            <div class="col-sm-10" style="padding-bottom: 15px;">
                                @Html.EditorFor(ww => ww.Email, additionalViewData: new { htmlAttributes = new { @class = "form-control", PlaceHolder = "Email" } })
                                @Html.ValidationMessageFor(ww => ww.Email, "", htmlAttributes: new { @class = "text-warning" })
                                <label class="text-warning"> @Html.DisplayFor(w => w.LoginErrorMsg) </label>
                            </div>
                            <div class="col-sm-10" style="padding-bottom: 15px;">
                                @Html.EditorFor(ww => ww.Password, additionalViewData: new { htmlAttributes = new { @class = "form-control", PlaceHolder = "Password" } })
                                @Html.ValidationMessageFor(ww => ww.Password, "", htmlAttributes: new { @class = "text-warning" })
                            </div>
                            <div class="col-sm-10" style="padding-bottom: 15px;">
                                @Html.EditorFor(ww => ww.ConfirmPassword, additionalViewData: new { htmlAttributes = new { @class = "form-control", PlaceHolder = "ConfirmPassword" } })
                                @Html.ValidationMessageFor(ww => ww.ConfirmPassword, "", htmlAttributes: new { @class = "text-warning" })
                            </div>
                            <div class="col-sm-10" style="padding-bottom: 15px;">
                                @Html.EditorFor(ww => ww.BirthDate, additionalViewData: new
                      {
                          htmlAttributes = new
                          {
                              @class = "form-control",
                              PlaceHolder = "Birth Date",
                              Type = "Date"
                 }
                      })
                                @Html.ValidationMessageFor(ww => ww.BirthDate, "", htmlAttributes: new { @class = "text-warning errmsg" })
                            </div>









                            <div class="col-sm-9 " style="display:block ">

                                <button type="submit" class="btn btn-outline-warning" style="font-size: 24px; padding: 12px; padding-left: 33px; padding-right: 33px; border-radius: 20px;;">Sign up </button>
                            </div>




                        </div>
                    </div>
                }
                    <!-- <a style="color:white;"> Go To Events</a>-->


                </div>

        </div>
    </div>



